.odd {
  background-color: pink;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#one {
  font-size: 36px;
  color: blue;
}

.cool {
  font-size: 24px;
}

#two {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
